# === Dependencies ===
backend/node_modules/
frontend/node_modules/

# === Env Files ===
frontend/.env
backend/.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# === Build ===
frontend/build/
backend/build/

# === Testing ===
frontend/coverage/
backend/coverage/

# === Logs ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Misc ===
.DS_Store
.pnp.js
/.pnp

# === IDE/Editor folders ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
